@media screen and (min-width: 768px) {
     html {
        font-size: clamp(0.9rem, 1.6vw, 1.05rem);
    }
    .nav {
        justify-content: space-between;
    }
    nav {
        display: block;
    }
    .banner {
        background-image: url(../imagens/mesa-de-cafe-de-luxo-dentro-bar-barista-gerada-por-ia_10_11zon.webp);
    }
    .services-banner {
        background-image: url(../imagens/ferramentas-para-profissao-de-cabeleireiro_9_11zon.webp);
        background-position: center;
    }
    .planos {
        background-image: url(../imagens/jovem-na-barbearia-aparando-cabelo-mobile.webp);
    }
    .services-box {
        max-width: 300px;
    }
    .services-box > img {
        max-width: 300px;
    }
    .services-pai {
        margin: 0 auto;
    }
}